/*General*/
div {
  margin: 10px 0px;
}

/*Grid*/
.image-stack {
  position: relative;
  max-width: 250px;
}

.image-stack img {
  margin-bottom: 30px;
  border-radius: 50%;
}

.image-stack img:nth-child(2) { /*every 2nd child inside something with class image-stack*/
  position: absolute;
  top: 0;
  left: 60%;
}

.image-stack h3 {
  position: absolute;
  bottom: 0;
}

/*Sections*/
.sexos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.sexos .image-stack.clicked img:first-of-type{
  width:250px;
  height:auto;
}

.sexos .image-stack.clicked img:nth-child(2){
  width: 150px;
  height:auto;
}

.sexos .image-stack:hover img:first-of-type{
  width:250px;
  height:auto;
}

.sexos .image-stack:hover img:nth-child(2){
  width: 150px;
  height:auto;
}

.intereses {
  display: grid;
  /*grid-template-columns: repeat(6, 1fr);*/
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5px;
  grid-auto-flow: row;
}

.intereses img {
  width: 200px;
  max-width: 250px;
  max-height: 150px;
}

.intereses img:hover {
  width:250px;
  height:auto;
}

.intereses .image-stack.clicked img {
  width:250px;
  height:auto;
}